@import "tailwindcss";
@plugin "flowbite/plugin";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif';

  --color-primary-50: var(--color-indigo-50);
  --color-primary-100: var(--color-indigo-100);
  --color-primary-200: var(--color-indigo-200);
  --color-primary-300: var(--color-indigo-300);
  --color-primary-400: var(--color-indigo-400);
  --color-primary-500: var(--color-indigo-500);
  --color-primary-600: var(--color-indigo-600);
  --color-primary-700: var(--color-indigo-700);
  --color-primary-800: var(--color-indigo-800);
  --color-primary-900: var(--color-indigo-900);

  --color-secondary-50: var(--color-yellow-50);
  --color-secondary-100: var(--color-yellow-100);
  --color-secondary-200: var(--color-yellow-200);
  --color-secondary-300: var(--color-yellow-300);
  --color-secondary-400: var(--color-yellow-400);
  --color-secondary-500: var(--color-yellow-500);
  --color-secondary-600: var(--color-yellow-600);
  --color-secondary-700: var(--color-yellow-700);
  --color-secondary-800: var(--color-yellow-800);
  --color-secondary-900: var(--color-yellow-900);

  --color-error-50: var(--color-red-50);
  --color-error-100: var(--color-red-100);
  --color-error-200: var(--color-red-200);
  --color-error-300: var(--color-red-300);
  --color-error-400: var(--color-red-400);
  --color-error-500: var(--color-red-500);
  --color-error-600: var(--color-red-600);
  --color-error-700: var(--color-red-700);
  --color-error-800: var(--color-red-800);
  --color-error-900: var(--color-red-900);

  --color-warning-50: var(--color-yellow-50);
  --color-warning-100: var(--color-yellow-100);
  --color-warning-200: var(--color-yellow-200);
  --color-warning-300: var(--color-yellow-300);
  --color-warning-400: var(--color-yellow-400);
  --color-warning-500: var(--color-yellow-500);
  --color-warning-600: var(--color-yellow-600);
  --color-warning-700: var(--color-yellow-700);
  --color-warning-800: var(--color-yellow-800);
  --color-warning-900: var(--color-yellow-900);

  --color-info-50: var(--color-blue-50);
  --color-info-100: var(--color-blue-100);
  --color-info-200: var(--color-blue-200);
  --color-info-300: var(--color-blue-300);
  --color-info-400: var(--color-blue-400);
  --color-info-500: var(--color-blue-500);
  --color-info-600: var(--color-blue-600);
  --color-info-700: var(--color-blue-700);
  --color-info-800: var(--color-blue-800);
  --color-info-900: var(--color-blue-900);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
}

th.fc-day-sat .fc-col-header-cell-cushion {
  @apply text-blue-500;
}
th.fc-day-sun .fc-col-header-cell-cushion {
  @apply text-red-500;
}

td.fc-day-sat .fc-daygrid-day-number {
  @apply text-blue-500;
}
td.fc-day-sun .fc-daygrid-day-number {
  @apply text-red-500;
}

.holiday-label {
  @apply text-red-500;
}
.holiday-number {
  @apply text-red-500;
}
.fc-daygrid-day-number {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}

/* Toolbar */
.fc-toolbar-chunk {
  .fc-button {
    @apply inline-flex items-center rounded-md border-none bg-primary-500 px-3 py-2 text-sm font-semibold text-white ring-0 hover:bg-primary-600;
  }
  .fc-button:disabled {
    @apply cursor-auto bg-primary-400;
  }
  .fc-button:not(:disabled):active {
    @apply bg-primary-500;
  }

  .fc-button.fc-button-primary.fc-button-active {
    @apply bg-primary-700;
  }
}
.fc-event {
  margin-bottom: 2px;
}
.fc-event.fc-daygrid-dot-event {
  @apply border-pink-500 bg-pink-500 align-middle text-white;
  padding: 2px 5px;
}
.fc-event.fc-daygrid-block-event {
  @apply border-green-600 bg-green-600 align-middle;
  padding: 2px 5px;
}

/* 「他n件」表示の改善 */
.fc-more-link {
  @apply bg-primary-500 text-white font-normal !px-2 !pt-2 !pb-1 !rounded-md !ml-1 !mt-1 block w-fit text-center;
  transition: background-color 0.2s, color 0.2s;
}
.fc-more-link:hover {
  @apply bg-primary-600;
}

/* 日付のセルを拡大するポップアップ用 */
.fc-more-popover-misc {/* 日付の数値を非表示にする */
  display: none;
}
.fc-popover {
  @apply shadow-lg rounded-md !border-2 !border-gray-400;
  z-index: 10 !important;
}
.fc-popover-header {
  @apply !bg-primary-500 text-white font-semibold p-2 rounded-t-sm;
}
.fc-popover-body {
  @apply p-2;
}
