---
/**
 * フル画面レイアウト
 *
 * Calendarコンポーネントを表示するために使用する。
 */
//import '@/styles/global.css'
import '@/styles/index.css'
import Navbar from '@/layouts/partials/Navbar.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id="root">
    <Navbar />
    <main class="container mx-auto px-4">
      <slot />
    </main>
    <script src="../scripts/index.js"></script>
  </body>
</html>
