---
import config from '@/config/config.json'
import '@/styles/global.css'
//import '@/styles/index.css'
import Navbar from '@/layouts/partials/Navbar.astro'
import SizeIndicator from '@/components/SizeIndicator.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={config.site.favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id="root">
    <SizeIndicator />
    <Navbar />
    <slot />
    <script src="../scripts/index.js"></script>
  </body>
</html>
